In [1]:
print("Hello")

Hello

In [2]:
%load_ext autoreload
%autoreload 2

In [4]:
import os
from dotenv import load_dotenv, find_dotenv
import logging

# Set up logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

#import the KServer module from the src.k_data_helpers package
from pykaahma_linz import KServer

# find .env automagically by walking up directories until it's found
dotenv_path = find_dotenv()
load_dotenv(dotenv_path)
api_key = os.getenv('LINZ_API_KEY')

In [6]:
rail_station_layer_id = "50318" #rail station 175 points
fences_layer_id = "50268" #NZ Fence Centrelines  
geodetic_marks_layer_id = "50787" # NZ Geodetic Marks 132,966 point features
nz_walking_biking_tracks_layer_id = "52100" #NZ Walking and Biking Tracks 29,187 polyline features
suburb_locality_table_id = "113761" #Suburb Locality - Population 3190 records

kserver = KServer.KServer(api_key)
print(kserver)
itm = kserver.content.get(rail_station_layer_id)
print(itm)

KServer(base_url=https://data.linz.govt.nz/, api_version=v1.x)
KVectorItem(id=50318, title=NZ Rail Station Points (Topo, 1:50k), type=layer, kind=vector)

In [7]:
res = itm.query()
#print total number of records in the dataframe
logging.info(f"Total records returned for {itm.title}: {res.shape[0]}")
res.head()

2025-06-02 12:36:11,438 - INFO - Total records returned for NZ Rail Station Points (Topo, 1:50k): 175

,t50_fid,name_ascii,macronated,name,geometry
0,2462499,Mataura Station,N,Mataura Station,POINT (1280790.692 4875815.525)
1,2462503,Gore Station,N,Gore Station,POINT (1286499.107 4886521.957)
2,2462506,Mosgiel Station,N,Mosgiel Station,POINT (1394416.991 4915116.092)
3,2462507,Wingatui Station,N,Wingatui Station,POINT (1397284.999 4916238.81)
4,2462508,Dunedin Station,N,Dunedin Station,POINT (1406645.249 4916722.559)

In [8]:
res = itm.get_changeset(from_time="2024-01-01T00:00:00Z")
logging.info(f"Total records returned {itm.title}: {res.shape[0]}")
res.head()

2025-06-02 12:36:16,339 - INFO - Total records returned NZ Rail Station Points (Topo, 1:50k): 41

,__change__,t50_fid,name_ascii,macronated,name,geometry
0,DELETE,7874343,Swanson Station,N,Swanson Station,POINT (1740542.406 5918801.891)
1,DELETE,7874348,Kingsland,N,Kingsland,POINT (1755495.158 5917850.878)
2,DELETE,2462509,Sawyers Bay Station,N,Sawyers Bay Station,POINT (1413934.937 4922988.347)
3,DELETE,6455509,Sheffield,N,Sheffield,POINT (1520561.716 5195578.8)
4,DELETE,2462550,Seddon Station,N,Seddon Station,POINT (1689445.201 5385956.321)