In [1]:
print("Hello")

Hello

In [1]:
%load_ext autoreload
%autoreload 2

In [ ]:
from dotenv import load_dotenv, find_dotenv
import logging

# Set up logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

#import the KServer module from the src.k_data_helpers package
from pykaahma_linz import KServer

# find .env automagically by walking up directories until it's found
dotenv_path = find_dotenv()
load_dotenv(dotenv_path)
api_key = os.getenv('K_API_KEY')

In [12]:
rail_station_layer_id = "50318" #rail station 175 points
fences_layer_id = "50268" #NZ Fence Centrelines  
geodetic_marks_layer_id = "50787" # NZ Geodetic Marks 132,966 point features
nz_walking_biking_tracks_layer_id = "52100" #NZ Walking and Biking Tracks 29,187 polyline features
suburb_locality_table_id = "113761" #Suburb Locality - Population 3190 records

kserver = KServer.KServer(api_key)
print(kserver)
itm = kserver.content.get(suburb_locality_table_id)
print(itm)

KServer(base_url=https://data.linz.govt.nz/, api_version=v1.x)
KTableItem(id=113761, title=Suburb Locality - Population, type=table, kind=vector)

In [13]:
res = itm.query()
#print total number of records in the dataframe
logging.info(f"Total records returned for {itm.title}: {res.shape[0]}")
res.head()

2025-06-02 11:46:12,260 - INFO - Total records returned for Suburb Locality - Population: 3190

   id  suburb_locality_id  population_estimate
0   1                 251                  354
1   2                2848                  847
2   3                2026                  597
3   4                8908                  202
4   5                2409                  551

In [14]:
res = itm.get_changeset(from_time="2024-01-01T00:00:00Z")
logging.info(f"Total records returned {itm.title}: {res.shape[0]}")
res.head()

2025-06-02 11:46:21,726 - INFO - Total records returned Suburb Locality - Population: 3080

  __change__    id  suburb_locality_id  population_estimate
0     DELETE   640                4448                    1
1     DELETE   930                1299                    3
2     DELETE  1072                8664                    2
3     DELETE  1806                2003                    2
4     DELETE  1916                1637                    1